body {
    margin: 0;
    background: url('scene.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(200, 200, 200);
}
#header-div {
    text-align: center;
    color: rgb(4, 49, 4);
    font-family: 'Farsan', cursive;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 135px;    
    opacity: .8;
}
#header {
    border-bottom: 1px solid rgb(4, 49, 4);
}
#difficulty-selection {
    margin-left: 41%;
    margin-right: 39%;
}
#difficulty-selection > button {
    padding: 10px;
    color:rgb(4, 49, 4);
    margin-right: 5px;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 2px;
}
#difficulty-selection > button:hover {
    background-color: rgb(213, 225, 213);
}
#difficulty-selection > button:focus {
    outline: 0;
}
.clicked-difficulty-selection {
    background-color: rgb(213, 225, 213);
}
#main-div {
    padding-top: 60px;
}
table {
    margin: 1em auto;
    border-collapse: collapse;
}
tr:nth-child(3n) {
    border-bottom: 2px solid rgb(34, 34, 34);
}
tr:nth-child(9) {
    border-bottom: 1px solid;
}
td {
    height: 65px;
    width: 65px;
    border: 1px solid;
    text-align:center;
}
span {
    color: rgb(1, 85, 5);
    font-size: 32px;
}
td:hover {
    background-color: rgb(213, 225, 213);
}
td:nth-child(3n) {
    border-right: 2px solid rgb(34, 34, 34);
}
td:nth-child(9) {
    border-right: 1px solid;
}
#number-selection-div {
    text-align: center;
    position: fixed;
    top: 12%;
    right: 15%;
    display: flex;
    flex-direction: column;
}
.number-selection {
    border: 1px solid rgb(58, 58, 58);
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
.clicked {
    background-color: rgb(213, 225, 213);
}
#win-status-invalid {
    text-align: center;
    color: rgb(8, 77, 8);
    position: fixed;
    left: 80px;
    bottom: 50%;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 2px;
    padding: 20px;
    background-color: rgb(213, 225, 213);
}

#win-status-valid {
    text-align: center;
    color: rgb(8, 77, 8);
    width: 190px;
    position: fixed;
    left: 80px;
    bottom: 50%;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 2px;
    padding: 20px;
    background-color: rgb(213, 225, 213);
}

/* 
Mobile Responsive Section 

- Smallest width to largest width
*/

@media screen and (max-width: 420px) {
    #main-div {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-rows: 5% 5% 50% 20%;

    }
    #header-div {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: .8em;
    }
    #difficulty-selection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-column: 2/3;
        grid-row: 2/3;
        margin-left: 0;
        margin-right: 0;
    }
    #difficulty-selection > button {
        padding: 10px;
        color:rgb(4, 49, 4);
        margin-right: 5px;
        border: 1px solid rgb(34, 34, 34);
        border-radius: 2px;
    }
    table {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    td {
        height: 40px;
        width: 40px;
    }
    span {
        font-size: 20px;
    }
    #number-selection-div {
        position: relative;
        display: flex;
        flex-direction: row;
        grid-row: 4/5;
        margin: auto;
    }
    .number-selection {
        border: 1px solid rgb(58, 58, 58);
        padding-left: 5px;
        padding-right: 5px;
    }
}
