#main-div {
    padding-top: 80px;
}
table {
    margin: 1em auto;
    border-collapse: collapse;
}
tr:nth-child(3n) {
    border-bottom: 2px solid rgb(34, 34, 34);
}
tr:nth-child(9) {
    border-bottom: 1px solid;
}
td {
    height: 65px;
    width: 65px;
    border: 1px solid;
    text-align:center;
}
td:hover {
    background-color: rgb(231, 248, 253);
}
td:nth-child(3n) {
    border-right: 2px solid rgb(34, 34, 34);
}
td:nth-child(9) {
    border-right: 1px solid;
}
